<div class="container">
    <div class="col-xs-12">
        <div class="jumbotron text-center">
             <h1><span class="glyphicon glyphicon-pencil" style="color: #34495e;">
                </span> Edit </h1> 
            <form name="editStudentForm" >
                <div class="form-group">
                    <br>
                    <input type="text" class="form-control input-home" placeholder="name" ng-model="student.name" name="name" ng-required="true" ng-minlength="5"/>
                    <input type="text" class="form-control input-home" placeholder="Image Url" ng-model="student.src" name="url"/>
                    <br>
                </div>
                <table class="table" style="position: relative; right: 20px">
                    <tr style="width:500px">      
                        <td><span class="sub-header"><a href="">Subject</a></span></td>
                        <td><span class="sub-header">Subject's Id</span></td>
                        <td><span class="sub-header"><a href="">Grade</a></span></td>
                    </tr>
                    <tr>
                        <td><span class="text">Digital Circuits</span></td>
                        <td><span class="text">EEA-21</span></td>
                        <td><span class="text"><input type="text" class="form-control input-grades" placeholder="EEA-21" ng-model="student.grades[0].grade" name="grade" ng-pattern="/^\d{1,2}\.?\d{1,3}$/" ui-grade/></span></td>
                    </tr>
                    <tr>
                        <td><span class="text">OOP</span></td>
                        <td><span class="text">CES-22</span></td>
                        <td><span class="text"><input type="text" class="form-control input-grades" placeholder="CES-22" ng-model="student.grades[1].grade" name="grade" ng-pattern="/^\d{1,2}\.?\d{1,3}$/" ui-grade/></span></td>
                    </tr>
                    <tr>
                        <td><span class="text">Discreet Structures</span></td>
                        <td><span class="text">CTC-20</span></td>
                        <td><span class="text"><input type="text" class="form-control input-grades" placeholder="CTC-20" ng-model="student.grades[2].grade" name="grade" ng-pattern="/^\d{1,2}\.?\d{1,3}$/" ui-grade/></span></td>
                    </tr>
                    <tr>
                        <td><span class="text">Eletronic Circuits</span></td>
                        <td><span class="text">EEA-45</span></td>
                        <td><span class="text"><input type="text" class="form-control input-grades" placeholder="EEA-45" ng-model="student.grades[3].grade" name="grade" ng-pattern="/^\d{1,2}\.?\d{1,3}$/" ui-grade/></span></td>
                    </tr>
                    <tr>
                        <td><span class="text">Control Systems I</span></td>
                        <td><span class="text">EES-10</span></td>
                        <td><span class="text"><input type="text" class="form-control input-grades" placeholder="EES-10" ng-model="student.grades[4].grade" name="grade" ng-pattern="/^\d{1,2}\.?\d{1,3}$/" ui-grade/></span></td>
                    </tr>
                    <tr>
                        <td><span class="text">Electromagnetism</span></td>
                        <td><span class="text">ELE-12</span></td>
                        <td><span class="text"><input type="text" class="form-control input-grades" placeholder="ELE-12" ng-model="student.grades[5].grade" name="grade" ng-pattern="/^\d{1,2}\.?\d{1,3}$/" ui-grade/></span></td>
                    </tr>
                </table>
                <div ng-show="!editStudentForm.grade.$error.pattern">
                    <em>Grades must be a float number between 0 and 100*</em> 
                </div>
                <br>
                <div ng-show="editStudentForm.name.$error.required && editStudentForm.name.$dirty" class="alert alert-danger">
                    <em> Please, inform the name of the new student!</em>
                </div>
                <div ng-show="editStudentForm.name.$error.minlength" class="alert alert-danger">
                    <em>Name must be at least 5 characters.</em> 
                </div>
                <br>
                <div class="form-group">
                    <a href="#" class="btn btn-success btn-lg btn-block" ng-click="saveStudentInfo(student)" ng-disabled="!student.name">
                        <span class="glyphicon glyphicon-pushpin"></span>
                        Save
                    </a>
                    <a href="#/studentDetails/{{student.id}}" class="btn btn-default btn-lg btn-block">
                        <span class="glyphicon glyphicon-remove"></span>
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>