<div class="container">
    <div class="col-xs-12">
        <div class="jumbotron text-center">
            <h1>Add New Student</h1>
            <form name="StudentForm" >
                {{student}}
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" ng-model="student.name"/>
                    <select class="form-control" ng-model="student.grades" ng-options="subject.acronym for subject in subjectsList">
                        <option value="">Select a subject</option>
                    </select>
                    <br>
                    <h2>Grades</h2>
                    <br>
                    <input type="number" class="form-control" value="0" placeholder="EEA-21" ng-model="student.grades[0]"/>
                    <input type="number" class="form-control" value="0" placeholder="CES-22" ng-model="student.grades[1]"/>
                    <input type="number" class="form-control" value="0" placeholder="CTC-20" ng-model="student.grades[2]"/>
                    <input type="number" class="form-control" value="0" placeholder="EEA-45" ng-model="student.grades[3]"/>
                    <input type="number" class="form-control" value="0" placeholder="EES-10" ng-model="student.grades[4]"/>
                    <input type="number" class="form-control" value="0" placeholder="ELE-12" ng-model="student.grades[5]"/>
                </div>

                <div class="form-group">
                    <a href="#/" class="btn btn-success btn-lg btn-block" ng-click="saveStudentInfo(student)" ng-disabled="!student.name">
                        <span class="glyphicon glyphicon-pushpin"></span>
                        Save
                    </a>
                </div>

                <div class="form-group">
                    <a href="#/qualquerCoisa" class="btn btn-default btn-lg btn-block">
                        <span class="glyphicon glyphicon-remove"></span>
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>