<div class="container">
    <div class="col-xs-12">
        <div class="jumbotron text-center">
            <div>
                <div class="info-student">
                    <div class="upper-student-details">
                        <h1 style="color: #29324b; text-shadow: 1px 1px #262626;"><em>{{student.name}}</em></h1>
                        <h2><span style="font-weight:bold; color: #29324b;">Mean:</span><span><em>{{student.mean | currency: "": "2"}}</em></span></h2> 
                        <h2><span style="font-weight:bold; color: #29324b;">Rank:</span><span><em>{{student.rank}}</em></span></h2>
                    </div>
                    <div class="image" style="background-image:url({{student.src}})">
                    </div>
                </div>
            </div>
            <form name="StudentForm" >
                <div class="form-group">
                    <br/>
                    <table class="table">
                        <tr>
                            <td></td>
                            <td><span style="font-weight:bold; font-size:2em">Subject</span></td>
                            <td><span style="font-weight:bold; font-size:2em">Grade</span></td>
                            <td><span style="font-weight:bold; font-size:2em">Rank</span></td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="subject in student.grades">
                            <td>
                                <button type="button" ng-model="student.selected" class="btn btn-sm btn-success pull-left">
                                    <span class="glyphicon glyphicon-unchecked"></span>
                                </button>
                            </td>
                            <td><span style="font-weight:bold">{{subject.acronym}}</span></td>
                            <td><span style="font-weight:bold">{{subject.grade | currency: "": "2"}}</span></td>
                            <td><span style="font-weight:bold">{{subject.rank}}</span></td>
                        </tr>
                    </table>
                </div>

                <div class="form-group">
                    <a href="#/editStudentDetails/{{student.id}}/edit" class="btn btn-success btn-lg btn-block" ng-click="saveStudentInfo(student)" ng-disabled="!student.name">
                        <span class="glyphicon glyphicon-pushpin"></span>
                        Edit
                    </a>
                </div>

                <div class="form-group">
                    <a href="#/students" class="btn btn-default btn-lg btn-block">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        Back 
                    </a>
                </div>
                <div class="form-group">
                    <a href="#/students" class="btn btn-danger btn-lg btn-block" ng-click="deleteStudentInfo(student)">
                        <span class="glyphicon glyphicon-remove"></span>
                        Delete
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>