<div class="container">
    <div class="col-xs-12">
        <div class="jumbotron text-center">
            <form name="StudentForm" >
                <div class="form-group">
                    <h1>Name: {{student.name}}</h1>
                    <h2>Mean: {{student.mean | currency: "": "2"}}, Rank: {{student.rank}}</h2>
                    <br/>
                    <table class="table">
                        <tr>
                            <td></td>
                            <td><span style="font-weight:bold">Subject</span></td>
                            <td><span style="font-weight:bold">Grade</span></td>
                            <td><span style="font-weight:bold">Rank</span></td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="subject in student.grades">
                            <td>
                                <button type="button" ng-model="student.selected" class="btn btn-sm btn-success pull-left">
                                    <span class="glyphicon glyphicon-unchecked"></span>
                                </button>
                            </td>
                            <td><span style="font-weight:bold">{{subject.acronym}}</span></td>
                            <td><span style="font-weight:bold">{{subject.grade | currency: "": "2"}}</span></td>
                            <td><span style="font-weight:bold">{{subject.rank}}</span></td>
                        </tr>
                    </table>
                </div>

                <div class="form-group">
                    <a href="#/editStudentDetails/{{student.id}}/edit" class="btn btn-success btn-lg btn-block" ng-click="saveStudentInfo(student)" ng-disabled="!student.name">
                        <span class="glyphicon glyphicon-pushpin"></span>
                        Edit
                    </a>
                </div>

                <div class="form-group">
                    <a href="#/students" class="btn btn-default btn-lg btn-block">
                        <span class="glyphicon glyphicon-remove"></span>
                        Voltar
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>